<f:be.container includeCssFiles="{0: '{f:uri.resource(path:\'Css/style.css\')}'}" includeJsFiles="{0: '{f:uri.resource(path:\'Js/script.js\')}'}">
    <div id="typo3-docheader">
        <div class="typo3-docheader-functions">
            <div class="left">
                <div class="buttonsleft left">
                    <f:be.buttons.csh />

                    <f:be.menus.actionMenu>
                        <f:be.menus.actionMenuItem label="Compress Images" controller="File" action="list" />
                        <f:be.menus.actionMenuItem label="Optimize Structure" controller="Structure" action="list" />
                    </f:be.menus.actionMenu>
                </div>
                <f:link.action action="undo" title="Get all images back to list!">
                    <core:icon identifier="actions-edit-undo" />
                </f:link.action>
            </div>
        </div>
    </div>
    <div class="tx_imgcompromizer module-body t3js-module-body">
        <h2>Optimize the images and the structure</h2>
        <table border="1" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Parent</th>
                    <th>Reference</th>
                    <th>Title</th>
                    <th>Alternative</th>
                    <th>Description</th>
                </tr>
            </thead>
            <f:form controller="Structure" action="update" name="files" object="{files}" objectName="files">
                <tbody>
                    <f:for each="{files.fileArray}" as="file" iteration="objIterator">
                        <tr>
                            <f:if condition="{file.2}">
                                <f:then>
                                    <td><f:form.hidden property="{0}" value="{file.0}"/>{file.1}</td>
                                    <td></td>
                                </f:then>

                                <f:else>
                                    <td><f:form.hidden property="{0}" value="{file.0}"/></td>
                                    <td>{file.1}<</td>
                                </f:else>
                            </f:if> 
                            <td><f:form.textfield  property="{files.{objIterator.index}.3}" value="{file.3}"/></td>
                            <td><f:form.textfield  property="{files.{objIterator.index}.4}" value="{file.4}"/></td>
                            <td><f:form.textfield  property="{files.{objIterator.index}.5}" value="{file.5}"/></td>
                        </tr>
                    </f:for>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <f:form.submit class="btn btn-primary col-md-12" value="Ändern">Click here</f:form.submit>
                        </td>
                    </tr>
                </tfoot>
            </f:form>
        </table>
    </div>
</f:be.container>