<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
    <f:be.container includeCssFiles="{0: '{f:uri.resource(path:\'Css/style.css\')}'}" includeJsFiles="{0: '{f:uri.resource(path:\'Js/script.js\')}'}">
        <f:render partial="Module_Header" arguments="{template: 'file', path:path, cshField:'settings'}"/>
        <div class="tx_dj_imagetools module-body t3js-module-body">
            <h1><f:translate key="LLL:EXT:dj_imagetools/Resources/Private/Language/locallang_mod.xlf:mlang_tabs_tab.settings"/></h1>
            <f:flashMessages />

            <f:form controller="Settings" action="update" name="settings" object="{settings}">
                <div class="row">
                    <div class="form-group t3js-formengine-validation-marker t3js-formengine-palette-field col-md-12">
                        <label class="t3js-formengine-label">
                            <f:format.raw><f:translate key="LLL:EXT:dj_imagetools/Resources/Private/Language/locallang_mod.xlf:settings.tinifyKey"/></f:format.raw>
                        </label>
                        <f:form.textfield class='form-control'  property="tinifyKey" value="{settings.tinifyKey}"/>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group t3js-formengine-validation-marker t3js-formengine-palette-field col-md-6 col-sm-6">
                        <label class="t3js-formengine-label">
                            <f:format.raw><f:translate key="LLL:EXT:dj_imagetools/Resources/Private/Language/locallang_mod.xlf:settings.widthForAll"/></f:format.raw>
                        </label>
                        <f:form.textfield class='form-control' type="number" property="widthForAll" value="{settings.widthForAll}"/>
                    </div>
                    <div class="form-group t3js-formengine-validation-marker t3js-formengine-palette-field col-md-6 col-sm-6">
                        <label class="t3js-formengine-label">
                            <f:format.raw><f:translate key="LLL:EXT:dj_imagetools/Resources/Private/Language/locallang_mod.xlf:settings.heightForAll"/></f:format.raw>
                        </label>
                        <f:form.textfield class='form-control' type="number" property="heightForAll" value="{settings.heightForAll}"/>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group t3js-formengine-validation-marker t3js-formengine-palette-field col-md-6">
                        <label class="t3js-formengine-label">
                            <f:format.raw><f:translate key="LLL:EXT:dj_imagetools/Resources/Private/Language/locallang_mod.xlf:settings.overwrite"/></f:format.raw>
                        </label>
                        <f:form.checkbox property="overwrite" checked="{settings.overwrite}" value="Overwrite"/>

                    </div>
                    <div class="form-group t3js-formengine-validation-marker t3js-formengine-palette-field col-md-6">
                        <label class="t3js-formengine-label">
                            <f:format.raw><f:translate key="LLL:EXT:dj_imagetools/Resources/Private/Language/locallang_mod.xlf:settings.sameFolder"/></f:format.raw>
                        </label>
                        <f:form.checkbox property="sameFolder" checked="{settings.sameFolder}" value="Same Folder"/>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group t3js-formengine-validation-marker t3js-formengine-palette-field col-md-12">
                        <label class="t3js-formengine-label">
                            <f:format.raw><f:translate key="LLL:EXT:dj_imagetools/Resources/Private/Language/locallang_mod.xlf:settings.uploadFolder"/></f:format.raw>
                        </label>
                        <f:form.textfield class='form-control' property="uploadFolder" value="{settings.uploadFolder}"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <f:form.button type='submit' class="btn btn-primary form-control" value="">
                            <i class='fa fa-save'></i>
                        </f:form.button>
                    </div>
                </div>
            </f:form>
        </div>
    </f:be.container>
</html>