div.docheader-funcmenu select {
    padding: 4px;
}

td.center,
td.center .loader {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

td.image img {
   display: none;
   visibility: hidden;
}

td.image.show img {
    display: block;
    visibility: visible;
    max-width: 10em;
    height: auto;
}

.loader {
    border: 0.3em solid #f3f3f3;
    border-top: 0.3em solid #3498db;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    animation: spin 2s linear infinite;
}

.loaderHeader {
    border: 0.3em solid #3498db;
    border-radius: 50%;
    width: 2em;
    height: 2em;
}

input.form-control.error,
textarea.form-control.error {
    border-color: red;
}

tr.sub {
    display: none;
    visibility: hidden;
}

tr.show {
    display: table-row!important;
    visibility: visible;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
