td.center,
td.center .loader {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.loader {
    border: 0.3em solid #f3f3f3; /* Light grey */
    border-top: 0.3em solid #3498db; /* Blue */
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
