<f:be.container>

    <div class="tx_imgcompromizer module-body t3js-module-body">
        <h2>Compress with Tinify</h2>
        <table border="1" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>File-Name</th>
                    <th>Width</th>
                    <th>Height</th>
                    <th>Selection</th>
                    <th>Compress</th>
                </tr>
            </thead>
            <tbody>
                <f:for each="{files}" as="file" iteration="objIterator">
                    <tr>
                        <f:form name="file" object="{file}" action="edit">
                            <td><f:form.hidden property="{uid}" value="{file.uid}"/>{file.originalResource.identifier}</td>
                            <td><f:form.textfield  property="txImgcompromizerWidth" value="-1"/></td>
                            <td><f:form.textfield  property="txImgcompromizerHeight"  value="-1"/></td>
                            <td><f:form.checkbox property="{txImgcompromizerCompressed}" value="0"/></td>
                            <td><f:form.submit value="Compress">Compress</f:form.submit></td>
                        </f:form>
                    </tr>
                </f:for>
            </tbody>
        </table>
    </div>
    
</f:be.container>
